<nav class="navbar d-flex justify-content-center sticky-top navbar-expand-lg navbar-light shadow-sm  bg-light-subtle  bs-body-bg">
    {{#if token}}
    <a href="/learn" class="navbar-brand mx-3 ps-5">
        <img class="d-none d-lg-block" style="width: 100%; height: 32px;" src="https://yaponamama.uz/_nuxt/img/logo.2cdc733.svg" alt="">
    </a>
         <ul class="nav nav-pills d-lg-none ">
            <li class=""><a href="#" class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#groupModal"><i class="fs-1 bi bi-fire text-danger"></i></a></li>
            <li class=""><a href="#" class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#dayStreakModal"><i class=" fs-1 bi bi-ubuntu text-warning"></i></a></li>
            {{!-- <li class="me-3"><a href="#" class="nav-link"><i class=" fs-5 bi bi-people-fill"></i></a></li> --}}
            <li class=""><a href="#" class="nav-link"><i class="  fs-1 bi bi-bell-fill"></i></a></li>
            <li class="">
                <a href="#" class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmRhTLltigt0hR8N7MVIWslzOVYG3mYhJYM0tLziHxcxA4ObVLFAeZz8T8mt320pEVZsA&usqp=CAU"
                        alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link " data-bs-toggle="dropdown">
                    <img class="p-1 rounded-circle" style=" border: 3px solid rgb(211, 211, 211)" src="{{userData.userImg}}"
                        alt="not found" width="35" height="35" class="rounded-circle"> 
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#"><i class="bi bi-person-circle"></i> {{userData.firstName}} {{userData.lastName}}</a>
                    <a class="dropdown-item" href="#"><i class="bi bi-gear-fill"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="bi bi-question-circle-fill"></i> Help</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="bi bi-exclamation-circle-fill"></i> Logout</a>
                </div>
            </li>
        </ul>
   
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {{#if isLearn}}
            <li class="nav-item"><a href="/learn" class="nav-link  text-primary bg-primary-subtle rounded"><i class="fs-5 bi bi-journal-album"></i> Learn</a></li>
            {{else}}
            <li class="nav-item"><a href="/learn" class="nav-link  text-secondary-emphasis fw-medium"><i class="fs-5 bi bi-journal-album"></i> Learn</a></li>
            {{/if}}
            {{#if isReview}}
            <li class="nav-item"><a href="/review" class="nav-link text-primary bg-primary-subtle rounded"><i class="fs-5 bi bi-clipboard"></i> Review</a></li>
            {{else}}
            <li class="nav-item"><a href="/review" class="nav-link  text-secondary-emphasis fw-medium"><i class="fs-5 bi bi-clipboard"></i> Review</a></li>
            {{/if}}
            {{#if isCommunity}}
            <li class="nav-item"><a href="/community" class="nav-link text-primary bg-primary-subtle rounded"><i class="fs-5 bi bi-chat-dots"></i> Community</a></li>
          
            {{else}}
            <li class="nav-item"><a href="/community" class="nav-link  text-secondary-emphasis fw-medium"><i class="fs-5 bi bi-chat-dots "></i> Community</a></li>
            {{/if}}
            {{#if isCourses}}
            <li class="nav-item"><a href="/courses" class="nav-link text-primary bg-primary-subtle rounded"><i class="fs-5 bi bi-journals"></i> Courses</a></li>
            {{else}}
            <li class="nav-item"><a href="/courses" class="nav-link text-secondary-emphasis fw-medium"><i class="fs-5 bi bi-journals"></i> Courses</a></li>
            {{/if}}
        </ul>
        <ul class="navbar-nav ">
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-2"><a href="#" class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#groupModal"><i class="fs-5 bi bi-fire text-danger"></i></a></li>
            <li class="nav-item me-2"><a href="#" class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#dayStreakModal"><i class=" fs-5 bi bi-ubuntu text-warning"></i></a></li>
            <li class="nav-item me-2"><a href="#" class="nav-link"><i class=" fs-5 bi bi-people-fill"></i></a></li>
            <li class="nav-item me-2"><a href="#" class="nav-link"><i class="  fs-5 bi bi-bell-fill"></i></a></li>
            <li class="nav-item me-2">
                <a href="#" class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmRhTLltigt0hR8N7MVIWslzOVYG3mYhJYM0tLziHxcxA4ObVLFAeZz8T8mt320pEVZsA&usqp=CAU"
                        alt="mdo" width="30" height="30" class="rounded-circle">
                </a>
               
            </li>
            <li class="nav-item dropdown pe-5">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="p-1 rounded-circle" style=" border: 3px solid rgb(211, 211, 211)"  src="{{userData.userImg}}"
                        alt="mdo" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#"><i class="bi bi-person-circle"></i> {{userData.firstName}} {{userData.lastName}}</a>
                    <a class="dropdown-item" href="#"><i class="bi bi-gear-fill"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="bi bi-question-circle-fill"></i> Help</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="bi bi-exclamation-circle-fill"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
{{else}}
    <a href="/" class="navbar-brand ">
        <img class="d-none d-lg-block mx-3" style="width: 100%; height: 32px;" src="./img/icons/logo.svg" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img src="./img/icons/unregistred_user.png"
                        alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#"><i class="bi bi-question-circle-fill"></i> Help</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/"><i class="bi bi-exclamation-circle-fill"></i> Login</a>
                </div>
            </li>
        </ul>
    </div>
    {{/if}}
</nav>
<nav class="navbar d-flex justify-content-center fixed-bottom d-lg-none navbar-light  bg-light-subtle bs-body-bg  ">
    {{#if token}}
    
        <a href="/learn" class="navbar-brand">
            <img class="d-none d-lg-block d-xl-none" style="width: 100%; height: 32px;" src="https://yaponamama.uz/_nuxt/img/logo.2cdc733.svg" alt="">
        </a>
        <ul class="nav nav-pills d-lg-none d-flex">
                {{#if isLearn}}
                <li class="nav-item"><a href="/learn" class="nav-link  text-primary bg-primary-subtle rounded "><i class=" fs-1  bi bi-journal-album"></i> </a></li>
                {{else}}
                <li class="nav-item"><a href="/learn" class="nav-link  text-secondary-emphasis fw-medium"><i class=" fs-1  bi bi-journal-album"></i> </a></li>
                {{/if}}
                {{#if isReview}}
                <li class="nav-item"><a href="/review" class="nav-link text-primary bg-primary-subtle rounded"><i class=" fs-1  bi bi-clipboard"></i> </a></li>
                {{else}}
                <li class="nav-item"><a href="/review" class="nav-link  text-secondary-emphasis fw-medium"><i class=" fs-1  bi bi-clipboard"></i> </a></li>
                {{/if}}
                {{#if isCommunity}}
                <li class="nav-item"><a href="/community" class="nav-link text-primary bg-primary-subtle rounded"><i class=" fs-1  bi bi-chat-dots"></i> </a></li>
            
                {{else}}
                <li class="nav-item"><a href="/community" class="nav-link  text-secondary-emphasis fw-medium"><i class="fs-1  bi bi-chat-dots "></i> </a></li>
                {{/if}}
                {{#if isCourses}}
                <li class="nav-item"><a href="/courses" class="nav-link text-primary bg-primary-subtle rounded"><i class="fs-1  bi bi-journals"></i> </a></li>
                {{else}}
                <li class="nav-item"><a href="/courses" class="nav-link text-secondary-emphasis fw-medium"><i class="fs-1  bi bi-journals"></i> </a></li>
                {{/if}}
        </ul>
    
   {{else}}
    <a href="/" class="navbar-brand ms-2">
        <img style="width: 100%; height: 32px;" src="./img/icons/logo.svg" alt="">
    </a>
  <ul class="nav nav-pills d-lg-none">
          
            {{#if isCommunity}}
            <li class="nav-item"><a href="/community" class="nav-link text-primary bg-primary-subtle rounded"><i class="fs-2 bi bi-chat-dots"></i> </a></li>
            {{else}}
            <li class="nav-item"><a href="/community" class="nav-link  text-secondary-emphasis fw-medium"><i class="fs-2 bi bi-chat-dots "></i> </a></li>
            {{/if}}
            {{#if isCourses}}
            <li class="nav-item"><a href="/courses" class="nav-link text-primary bg-primary-subtle rounded"><i class="fs-2 bi bi-journals"></i> </a></li>
            {{else}}
            <li class="nav-item"><a href="/courses" class="nav-link text-secondary-emphasis fw-medium"><i class="fs-2 bi bi-journals"></i> </a></li>
            {{/if}}
            {{#if isLogin}}
            <li class="nav-item"><a href="/login" class="nav-link text-primary bg-primary-subtle rounded"><i class="fs-2 bi bi-person-bounding-box"></i> </a></li>
            {{else}}
            <li class="nav-item"><a href="/login" class="nav-link text-secondary-emphasis fw-medium"><i class="fs-2 bi bi-person-bounding-box"></i> </a></li>
            {{/if}}
            
    </ul>
    {{/if}}
</nav>



{{!-- Courses --}}
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
<p><span class="fs-3 fw-bold p-3"> You're learning</span> <a class="ms-3" href="#">Edit</a></p>
</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <a href="#" class="nav-link p-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmRhTLltigt0hR8N7MVIWslzOVYG3mYhJYM0tLziHxcxA4ObVLFAeZz8T8mt320pEVZsA&usqp=CAU"
        alt="mdo" width="50" height="50" class="rounded-circle"> <span class="fw-medium ms-3 fs-5"> Yaponamama </span>
    </a>
    <p class="fs-3 fw-bold p-3">Learn another menus</p>
    <a href="#" class="nav-link p-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
      <img src="https://static.tildacdn.com/tild3433-3335-4663-b633-393138303263/feed_up.png"
        alt="mdo" width="50" height="50" class="rounded-circle"> <span class="fw-medium ms-3 fs-5"> FeedUp </span>
    </a>
    <a href="#" class="nav-link p-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/1c/bf/3b/28/caption.jpg"
        alt="mdo" width="50" height="50" class="rounded-circle"> <span class="fw-medium ms-3 fs-5"> MaxWay </span>
    </a>
</div>

</div>


<!-- Modal parts -->
<div class="modal fade " id="groupModal" tabindex="-1" aria-labelledby="groupModalLabel" aria-hidden="true">
<div class="modal-dialog ">
<div class="modal-content">

<div class="modal-body d-flex flex-column align-items-center justify-content-center">
<img style="height: 100px" src="https://media0.giphy.com/media/sRW4SCnxfcx1LaFBtt/giphy.gif?cid=790b7611td41vt23v2xp0fdesw3m0lx9kj8dyip9usct8rbr&ep=v1_gifs_search&rid=giphy.gif&ct=s" alt="">
<h3 class="fw-bold fs-2">
You’re on a <span class="text-danger">Garyachnik</span> part!
</h3>
<p>
Daily learning habits like this are impressive. See you tomorrow.
</p>
</div>
<div class="modal-footer d-flex flex-column align-items-center justify-content-center">
{{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> --}}
<button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Okay, Got it</button>
</div>
</div>
</div>
</div>

<!-- Modal days streaks-->
<div class="modal fade" id="dayStreakModal" tabindex="-1" aria-labelledby="dayStreakModalLabel" aria-hidden="true">
<div class="modal-dialog ">
<div class="modal-content">
<div class="modal-body d-flex flex-column align-items-center justify-content-center">
<img style="height: 100px" src="https://media0.giphy.com/media/sRW4SCnxfcx1LaFBtt/giphy.gif?cid=790b7611td41vt23v2xp0fdesw3m0lx9kj8dyip9usct8rbr&ep=v1_gifs_search&rid=giphy.gif&ct=s" alt="">
<h3 class="fw-bolder fs-2">
You’re on a <span class="text-primary"> 130-day</span> streak!
</h3>
<p>
Daily learning habits like this are impressive. See you tomorrow.
</p>
</div>
<div class="modal-footer d-flex flex-column align-items-center justify-content-center">
{{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> --}}
<button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Okay, Got it</button>
</div>
</div>
</div>
</div>