<div class="row mb-5 pb-5">
    {{#each usersDoneLesson}}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class=" card border border-none rounded-3 shadow-sm">
            <div class="card-body">
                <div class="d-flex align-items-center gap-3 mb-3">
                    <img class="rounded-circle" width="60" height="60" src="{{userId.userImg}}" alt="">
                    <div>
                        <strong class="d-block mb-2">{{userId.firstName }} {{userId.lastName}}</strong>
                        <span class="p-2 mt-2 text-dark-emphasis bg-light-subtle rounded-pill">
                            
                            {{!-- <img class="rounded-circle me-1" width="24" height="24" src="{{lessonId.lessonimgPath}}" alt=""> --}}
                            {{userId.position}}
                            <span class="sup text-warning">
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-half"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <hr>
                <a href="/lesson/{{lessonId._id}}" class="btn btn-hover-light rounded-2 d-flex align-items-start gap-2 py-2 px-3 lh-sm text-start">
                    {{!-- <svg class="bi" width="24" height="24"><use xlink:href="#music-note-beamed"></use></svg> --}}
                    <i class="bi bi-bar-chart-fill text-warning" width="24" height="24"></i>
                    <div>
                        <div class="row">
                        <div class="col-9">
                        <strong class="d-block text-secondary mb-1">Last Lesson</strong>
                        <strong class="d-block fw-semibold mb-1">{{lessonId.lessonTitle }}</strong>
                        <small class="text-secondary">{{lessonId.lessonPart}}</small> / <small class="text-secondary">{{lessonId.lessonDescription}}</small>
                        </div>
                        <div class="col-3">
                            <img class="rounded-circle me-1" width="54" height="54" src="{{lessonId.lessonimgPath}}" alt="">
                        </div>
                        </div>
                    </div>
                </a>
                <hr>
            </div>
            {{#ifequal ../myUserId userId._id}}
            <div class=" p-2 bg-danger-subtle  border-danger-subtle d-flex justify-content-center">
                <a href="/compete/{{userId._id}}" class="btn btn-outline-secondary rounded-5">
                    <strong class="d-block">
                        <i class="bi bi-people"></i>
                        Compete
                    </strong>
                </a>
            </div>
            {{else}}
            <div class=" p-2 bg-info-subtle  border-info-subtle d-flex justify-content-center">
                <a href="/compete/{{userId._id}}" class="btn btn-outline-primary rounded-5">
                    <strong class="d-block">
                        <i class="bi bi-people"></i>
                        Compete
                    </strong>
                </a>
            </div>

            {{/ifequal}}
        </div>
    </div>
    {{/each}}
</div>
