
<div class="container text-center mb-5">
  <div class="row ">
    <div class="d-md-flex  gap-lg-2 justify-content-between mb-5 align-items-start">
  <span class="badge mb-2 d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
    <img class="rounded-circle me-1" width="24" height="24" src="{{userData.userImg}}" alt="">{{userData.firstName}} {{userData.lastName}}
     <span class="vr mx-2 "></span>
    <a href="#" class="text-decoration-none ">
    <i class="bi bi-star-fill text-danger">

     {{userData.position}}
    </i>
    </a>
  </span>
 
  
  <span class="badge mb-2 d-flex align-items-center p-1 pe-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-pill">
    <img class="rounded-circle me-1" width="24" height="24" src="{{competerData.userImg}}" alt="">{{competerData.firstName}} {{competerData.lastName}}
     <span class="vr mx-2 "></span>
    <a href="#" class="text-decoration-none">
    <i class="bi bi-star-fill text-danger">

     {{competerData.position}}
    </i>
    </a>
  </span>
  <span class="sticky-sm-top">
    <div class="btn-group btn-group-sm mt-2" role="group" aria-label="Button group with nested dropdown">
  <a href="/compete/{{competerData._id}}?page=1" class="btn btn-outline-primary">First</a>
  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
     {{page}}
    </button>
    <ul class="dropdown-menu">
      {{#each pages}}
      <li><a class="dropdown-item" href="/compete/{{../competerData._id}}?page={{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
  <a href="/compete/{{competerData._id}}?page={{pages.length}}" class="btn btn-outline-primary">Last</a>

    </div>

  </span>
</div>  
     </div>
  <div class="row justify-content-center">
  {{#each lessons }}
   <div class="col-12 col-md-2 mt-3">
      <a href="/test/{{lessonPart}}" class="text-decoration-none text-black">
        <div class="rounded-4 border border-light-subtle text-center p-3 custom-border">
          <img class="rounded-5 mb-3" style="height: 50px;" src="{{lessonimgPath}}" alt="">
          <br><span class="fs-5 fw-semibold">{{lessonTitle}} </span>
          <div class="card-footer mt-3 p-1 bg-light rounded-3 text-black-50 fw-semibold">
           {{lessonPart}} Lessons 
          </div>
        </div>
      </a>
    </div>
  {{/each}}
   
  
  </div>



  
</div>





