{{!-- <img src="https://media.giphy.com/media/67ThRZlYBvibtdF9JH/giphy.gif" alt="" srcset=""> --}}

<div class="row d-flex justify-content-center mb-3">
    <div class="col-10 col-lg-6 d-flex justify-content-center">
        <img class="col-10 col-lg-8 border rounded d-flex justify-content-center" src="https://media.giphy.com/media/3o6Zt0KNPZgqZlCu6k/giphy.gif" alt="" srcset="">
    </div>
    <div class="col-12 d-flex justify-content-center">
    <h1 class="fw-bold my-3">Competetion complete!</h1>

    </div>
   <div class="row   my-3 d-flex gap-1 justify-content-center fs-5">
     <div class="col-10 mb-3 col-lg-6 pointsDiv d-flex justify-content-between">
        <span>Points <i class="bi  bi-hand-thumbs-up-fill text-warning"></i>  </span> <span>+{{points}} <i class="bi bi-star-fill text-warning"></i></span>
    </div>
    <div class="col-10 col-lg-6 pointsDiv d-flex justify-content-between">
        <span>Score <i class="bi  bi-hand-index-thumb-fill text-warning"></i>  </span> <span>100% <i class="bi bi-bar-chart-fill text-success"></i></span>
    </div>
   </div>
    <div class="col-6 justify-content-center d-flex">

    <a href="/learn" class="btn btn-primary p-2 fw-semibold ps-5 pe-5">Continue</a>
    </div>
   
</div>

  {{!-- <div class="question bg-white p-3 border-bottom">
                        <form action="/sended-answer" method="post">
                        {{#each userSendAnswers}}
                        <div class="d-flex flex-row align-items-center question-title">
                            <h3 class="text-danger">Q.</h3>
                            <h5 class="mt-1 ml-2">{{{quizId.quizText}}}</h5>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6"> <input type="radio" name="{{_id}}" value="{{optionB}}" id="question_{{_id}}_OptionD"> <label for="question_{{_id}}_OptionD" class="box eighth w-100 bg-warning-subtle"> <div class="course"> <span class="circle"></span> <span class="subject"> {{answer}}</span> </div> </label> </div>
                            <div class="col-md-6"> <input type="radio" name="{{_id}}" value="{{optionB}}" id="question_{{_id}}_OptionD"> <label for="question_{{_id}}_OptionD" class="box eighth w-100"> <div class="course"> <span class="circle"></span> <span class="subject"> {{quizId.answer}}</span> </div> </label> </div>
                        </div>
                        {{/each}}

                    </div> --}}


