{{!-- <div class="container mb-5">
  <div class="position-relative p-5 col-lg-12 col-md-6 text-center text-muted bg-body border border-dashed rounded-5">
    <a href="/learn" type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></a>
  


   <div class="row d-flex justify-content-center flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 row">
        <img src="{{lessonDetail.lessonimgPath}}" class="d-block mx-lg-auto img-fluid rounded bg-info-subtle p-1 mb-3" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-12 row">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 bg-info-subtle p-3 rounded">{{lessonDetail.lessonTitle}}</h1>
        <pre class="">{{{lessonDetail.lessonDetails}}}</pre>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          {{#if isEnded}}
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
          {{else}}
          <button type="button" class="btn btn-danger btn-lg px-4 me-md-2">Done</button>
        {{/if}}
        </div>
      </div>
    </div>




  </div>
  
 
</div> --}}


{{!-- magnifer --}}
<script>
function magnify(imgID, zoom) {
  var img, glass, w, h, bw;
  img = document.getElementById(imgID);
  /*create magnifier glass:*/
  glass = document.createElement("DIV");
  glass.setAttribute("class", "img-magnifier-glass");
  /*insert magnifier glass:*/
  img.parentElement.insertBefore(glass, img);
  /*set background properties for the magnifier glass:*/
  glass.style.backgroundImage = "url('" + img.src + "')";
  glass.style.backgroundRepeat = "no-repeat";
  glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
  bw = 3;
  w = glass.offsetWidth / 2;
  h = glass.offsetHeight / 2;
  /*execute a function when someone moves the magnifier glass over the image:*/
  glass.addEventListener("mousemove", moveMagnifier);
  img.addEventListener("mousemove", moveMagnifier);
  /*and also for touch screens:*/
  glass.addEventListener("touchmove", moveMagnifier);
  img.addEventListener("touchmove", moveMagnifier);
  function moveMagnifier(e) {
    var pos, x, y;
    /*prevent any other actions that may occur when moving over the image*/
    e.preventDefault();
    /*get the cursor's x and y positions:*/
    pos = getCursorPos(e);
    x = pos.x;
    y = pos.y;
    /*prevent the magnifier glass from being positioned outside the image:*/
    if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
    if (x < w / zoom) {x = w / zoom;}
    if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
    if (y < h / zoom) {y = h / zoom;}
    /*set the position of the magnifier glass:*/
    glass.style.left = (x - w) + "px";
    glass.style.top = (y - h) + "px";
    /*display what the magnifier glass "sees":*/
    glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /*get the x and y positions of the image:*/
    a = img.getBoundingClientRect();
    /*calculate the cursor's x and y coordinates, relative to the image:*/
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /*consider any page scrolling:*/
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}
</script>
{{!-- end magnifer --}}

  <div class=" p-5 col-sm-10 col-lg-5 text-center  rounded-5">
    <div class="row d-flex justify-content-center flex-lg-row align-items-center g-5 py-5">
      <div class="col-12 col-md-8 col-lg-6">
        {{!-- <img src="{{lessonDetail.lessonimgPath}}"  class="lessonDetailsImgZoom d-block mx-auto img-fluid rounded-circle bg-info-subtle p-1 mb-3" alt="Bootstrap Themes" loading="lazy"> --}}
          <div class="img-magnifier-container">
            <img id="myimage" src="{{lessonDetail.lessonimgPath}}"  class="lessonDetailsImgZoom d-block mx-auto img-fluid rounded-circle bg-info-subtle p-1 mb-3" alt="Bootstrap Themes" loading="lazy">
          <script>
/* Execute the magnify function: */
magnify("myimage", 2);
/* Specify the id of the image, and the strength of the magnifier glass: */
</script>
          </div>
        <h1 class="fs-5 fw-bold text-body-emphasis bg-info-subtle p-1 rounded pt-2 pb-2 lh-1 mb-3">{{lessonDetail.lessonTitle}}</h1>
      </div>
      <div class="col-lg-12">
        <div class="">{{{lessonDetail.lessonDetails}}}</div>
        <div class="d-flex justify-content-center">
          {{#if isEnded}}
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
          {{else}}
            <button type="button" class="btn btn-danger btn-lg px-4 me-2">Done</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>


 
